<a href="https://colab.research.google.com/github/feby-tw/ta1-introds-group4/blob/main/team-assignment-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("/content/dirty_cafe_sales.csv")

Nomor 4 dan 5 (Mochammad Chafiedz Afrilian)

In [5]:
# start eksplorasi

# struktur data
print("Dimensi dataset:", df.shape)
print("\nTipe data setiap kolom:")
print(df.dtypes)

print("\nInfo dataset:")
print(df.info())
print(df.head())

# statistik deskriptif
print("\nStatistik numerik:")
print(df.describe())

# cek missing value
print("\nJumlah missing values per kolom:")
print(df.isnull().sum())

# cek duplicate data
print("Jumlah data duplikat:", df.duplicated().sum())

Dimensi dataset: (10000, 8)

Tipe data setiap kolom:
Transaction ID      object
Item                object
Quantity            object
Price Per Unit      object
Total Spent         object
Payment Method      object
Location            object
Transaction Date    object
dtype: object

Info dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB
None
  Transaction ID    Item Quantity Price Per Unit Total Spent  Payment Method  \
0    TXN_1961373  Coffee        2            2.0         4.0     Credit Card
1    TXN_4977031    Cake        4            3.0        12.0            Cash
2    TXN_4271903  Cookie        4            1.0       ERROR     Credit Card
3    TXN_7034554   Salad        2            5.0        10.0         UNKNOWN
4    TXN_3160411  Coffee        2            2.0         4.0  Digital Wallet

   Location Transaction Date
0  Takeaway       2023-09-08
1  In-store       2023-05-16
2  In-store       2023-07-19
3   UNKNOWN       2023-04-27
4  In-store       2023-06-11

Statistik numerik:
       Transaction ID   Item Quantity Price Per Unit Total Spent  \
count           10000   9667     9862           9821        9827
unique          10000     10        7              8          19
top       TXN_9226047  Juice        5            3.0         6.0
freq                1   1171     2013           2429         979

        Payment Method  Location Transaction Date
count             7421      6735             9841
unique               5         4              367
top     Digital Wallet  Takeaway          UNKNOWN
freq              2291      3022              159

Jumlah missing values per kolom:
Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64
Jumlah data duplikat: 0

No. 6 (Nadiyah Shabrina)

a. Menghapus atau mengisi missing values dengan teknik yang sesuai (mean, median, interpolasi, atau penghapusan).

In [6]:
# 1. Ubah kolom ke tipe data numerik
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce')
df['Price Per Unit'] = pd.to_numeric(df['Price Per Unit'], errors='coerce')
df['Total Spent'] = pd.to_numeric(df['Total Spent'], errors='coerce')

# Ubah kolom tanggal transaksi menjadi datetime. gak menggunakkan median
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], errors='coerce')

# 2. Mengisi nilai numerik yang hilang/kosong
for col in ['Quantity', 'Price Per Unit', 'Total Spent']:
    df[col].fillna(df[col].median(), inplace=True)

# 3. Hapus baris dengan nilai yang hilang di kolom lainnya
df.dropna(subset=['Item', 'Payment Method', 'Location'], inplace=True)
# Menghapus baris yang memiliki nilai yang hilang di kolom 'Transaction Date'
df.dropna(subset=['Transaction Date'], inplace=True)

# 4. Check hasil akhir
print(df.isna().sum())

Transaction ID      0
Item                0
Quantity            0
Price Per Unit      0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
dtype: int64

/tmp/ipython-input-3343538173.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)

b. Mengidentifikasi outliers menggunakan metode Boxplot/Z-score/IQR dan menangani outliers yang tidak relevan.

In [7]:
# Menggunakan IQR untuk menghilangkan outlier
numerical_cols = ['Quantity', 'Price Per Unit', 'Total Spent']

for col in numerical_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    df[col] = np.where(df[col] < lower_bound, lower_bound, df[col])
    df[col] = np.where(df[col] > upper_bound, upper_bound, df[col])

print("Outlier diolah dengan metode pembatasan capping.")

Outlier diolah dengan metode pembatasan capping.

c. Menghapus duplikasi data dan memastikan data tetap konsisten.

In [8]:
print("Jumlah Jumlah baris duplikat sebelum dihapus:", df.duplicated().sum())

Jumlah Jumlah baris duplikat sebelum dihapus: 0

In [9]:
df.drop_duplicates(inplace=True)
print("Jumlah baris duplikat setelah dihapus:", df.duplicated().sum())

Jumlah baris duplikat setelah dihapus: 0

Pengecekan terakhir

In [10]:
print("Missing values setelah dibersihkan:")
display(df.isna().sum())

print("\nValue ranges setelah outlier diolah:")
display(df[['Quantity', 'Price Per Unit', 'Total Spent']].describe())

print("\njumlah baris duplikasi setelah dibersihkan:")
display(df.duplicated().sum())

Missing values setelah dibersihkan:

Transaction ID      0
Item                0
Quantity            0
Price Per Unit      0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
dtype: int64

Value ranges setelah outlier diolah:

          Quantity  Price Per Unit  Total Spent
count  4631.000000     4631.000000  4631.000000
mean      3.023105        2.958864     8.853379
std       1.384621        1.259514     5.825142
min       1.000000        1.000000     1.000000
25%       2.000000        2.000000     4.000000
50%       3.000000        3.000000     8.000000
75%       4.000000        4.000000    12.000000
max       5.000000        5.000000    24.000000

jumlah baris duplikasi setelah dibersihkan:

np.int64(0)