<a href="https://colab.research.google.com/github/feby-tw/ta1-introds-group4/blob/main/team-assignment-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("/content/dirty_cafe_sales.csv")

In [ ]:
print(df.isna().sum())
print(df.info())

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB
None

In [ ]:
df.isna().sum()

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [ ]:
print(df.columns)

Index(['Transaction ID', 'Item', 'Quantity', 'Price Per Unit', 'Total Spent',
       'Payment Method', 'Location', 'Transaction Date'],
      dtype='object')

In [ ]:
# 1. Convert columns to their correct data types first
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce')
df['Price Per Unit'] = pd.to_numeric(df['Price Per Unit'], errors='coerce')
df['Total Spent'] = pd.to_numeric(df['Total Spent'], errors='coerce')

# Convert 'Transaction Date' to datetime. We won't use median for this.
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], errors='coerce')

# 2. Now, fill the missing numerical values
for col in ['Quantity', 'Price Per Unit', 'Total Spent']:
    df[col].fillna(df[col].median(), inplace=True)

# 3. Drop rows with missing values in the other columns
df.dropna(subset=['Item', 'Payment Method', 'Location'], inplace=True)
# Menghapus baris yang memiliki nilai yang hilang di kolom 'Transaction Date'
df.dropna(subset=['Transaction Date'], inplace=True)

# 4. Check the final result
print(df.isna().sum())

Transaction ID      0
Item                0
Quantity            0
Price Per Unit      0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
dtype: int64

/tmp/ipython-input-1590355394.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)

In [ ]:
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce')
df['Price Per Unit'] = pd.to_numeric(df['Price Per Unit'], errors='coerce')
df['Total Spent'] = pd.to_numeric(df['Total Spent'], errors='coerce')

df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], errors='coerce')

for col in ['Quantity', 'Price Per Unit', 'Total Spent']:
    df[col].fillna(df[col].median(), inplace=True)

df.dropna(subset=['Item', 'Payment Method', 'Location'], inplace=True)

df.dropna(subset=['Transaction Date'], inplace=True)

print(df.isna().sum())

In [ ]:
# ini menggunakan IQR untuk menghilangkan outlier
numerical_cols = ['Quantity', 'Price Per Unit', 'Total Spent']

for col in numerical_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    df[col] = np.where(df[col] < lower_bound, lower_bound, df[col])
    df[col] = np.where(df[col] > upper_bound, upper_bound, df[col])

print("Outliers handled using capping.")

Outliers handled using capping.

In [ ]:
print("Number of duplicate rows before removal:", df.duplicated().sum())
df.drop_duplicates(inplace=True)
print("Number of duplicate rows after removal:", df.duplicated().sum())

Number of duplicate rows before removal: 0
Number of duplicate rows after removal: 0

In [ ]:
print("Missing values after cleaning:")
display(df.isna().sum())

print("\nValue ranges after outlier handling:")
display(df[['Quantity', 'Price Per Unit', 'Total Spent']].describe())

print("\nNumber of duplicate rows after cleaning:")
display(df.duplicated().sum())

Missing values after cleaning:

Transaction ID      0
Item                0
Quantity            0
Price Per Unit      0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
dtype: int64

Value ranges after outlier handling:

          Quantity  Price Per Unit  Total Spent
count  4631.000000     4631.000000  4631.000000
mean      3.023105        2.958864     8.853379
std       1.384621        1.259514     5.825142
min       1.000000        1.000000     1.000000
25%       2.000000        2.000000     4.000000
50%       3.000000        3.000000     8.000000
75%       4.000000        4.000000    12.000000
max       5.000000        5.000000    24.000000

Number of duplicate rows after cleaning:

np.int64(0)

tes tes